{{> header}}

  <ul class="profiles">
    {{#each users}}
      <li>
        <div class="image-filter"></div>
        <img src="{{pad}}" alt=""/>
        <h2>{{name}}<span>{{age}}</span></h2>
        <p>{{city}}</p>
        <p>{{vehicle}}</p>
        <div>
	      <button>Dislike</button>
          <button>Like</button>
        </div>
      </li>
    {{/each}}
  </ul>

  <form class="pop-up-form" class="pop-up-function" method="POST" action="/inloggen">
    <p>Voertuig:</p>
    <div>
      <input type="radio" id="auto" name="vehicle" value="auto"/>
      <label for="auto">Auto</label>
    </div>
    <div>
      <input type="radio" id="motor" name="vehicle" value="motor"/>
      <label for="motor">Motor</label>
    </div>
    <div>
      <input type="radio" id="scooter" name="vehicle" value="scooter"/>
      <label for="scooter">Scooter</label>
    </div>

    <p>Geslacht:</p>
      <div>
        <input type="radio" id="man" name="gender" value="man"/>
        <label for="man">Man</label>
      </div>
      <div>
        <input type="radio" id="vrouw" name="gender" value="vrouw"/>
        <label for="vrouw">Vrouw</label>
      </div>
      <div>
        <input type="submit" value="Opslaan"/>
      </div>
  </form>

{{> footer}}